<!-- views/editInput.ejs -->
<!--
	Copyright 2017, Allison Kuo, Daniel Kho, Jeremy Rotman
	
	This file is part of ArientoSend.

    ArientoSend is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    ArientoSend is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with ArientoSend.  If not, see <http://www.gnu.org/licenses/>.
-->

<!DOCTYPE HTML>
<html>
<head>
	<title>Ariento Admin Portal</title>
	<link rel="stylesheet" type="text/css" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css"> <!-- load boostrap css -->
	<link rel="stylesheet" type="text/css" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css"> <!-- load fontawesome -->
	<link href="https://fonts.googleapis.com/css?family=Lato:300,700" rel="stylesheet"> <!-- font -->
	<link rel="stylesheet" type="text/css" href="../css/style.css">

	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>	
	<script src="../js/editinput.js"></script>
</head>
<body>
<nav class="navbar navbar-fixed-top">
 	<div class="container-fluid">
    	<ul class="nav navbar-nav navbar-right">
			<li class="disabled"><a href="#">WELCOME, <%= user.username%></a></li>
    		<li><a href="/landingpage"> HOME</a></li>
            <li><a href="/create"> CREATE</a></li>
            <li><a href="/edit"> EDIT</a></li>
            <li><a href="/newadmin"> NEW ADMIN</a></li>
        	<li><a href="/set2fa"><i class="fa fa-cog" aria-hidden="true"></i></a></li>
      	<li><a href="/logout"> LOGOUT</a></li>
    	</ul>
  	</div>
</nav>

<div class="container-fluid vertical-center">
	
	<div class="col-sm-3 center-block">

		<h1 id="login-header"><%= name %><button id="edit-btn"><span class="glyphicon glyphicon-edit" aria-hidden="true"></span></button></h1>

		<!-- show any messages that come back with edit -->
        <% if (message.length > 0) { %>
        	<% if (message == "Company edited successfully") { %>
            	<div class="alert alert-success stack" style="margin-bottom:20px"><%= message %></div>
            <% } else { %>
            	<div class="alert alert-danger stack" style="margin-bottom: 20px"><%= message %></div>
            <% } %>
        <% } %>
		
		<!-- EDIT -->
	    <form action="/edit/<%= name %>" method="POST">
			<div class="form-group stack">
				<input type="text" class="form-control input-edit" name="name" value="<%= name %>" readonly>
			</div>
			<div class="form-group stack">
				<input type="text" class="form-control input-edit" name="domain" value="<%= domain %>" readonly>
			</div>
			<div class="form-group stack">
				<input type="text" class="form-control input-edit" name="co_email" value="<%= co_email %>" readonly>
			</div>
			<div class="form-group stack">
				<input type="password" class="form-control input-edit" name="co_password" value="" placeholder="Password" readonly>
			</div>

			<div class="clickable" id="edit-div"><button type="submit" id="edit" disabled="disabled">EDIT</button></div>
		</form> 

</div>

</body>
</html>